<!DOCTYPE html>
<html>
<title> My Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/test.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body>

<!-- Top container -->
<div class="w3-bar w3-top w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <!--<span class="w3-bar-item w3-right">Logo</span> -->
  <img src="../static/newtrition.png" alt=" " width="60" height="50">
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">

    </div>
    <div class="w3-col s8 w3-white w3-bar">
      <span>Welcome, <strong> {{user}}</strong></span><br>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="profile.html" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a class="w3-bar-item w3-button" href="setting.html"><i class="fa fa-cog"></i></a>
      <a href="{{ url_for('logout') }}" class="btn">Logout</a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" id="close-menu" class="w3-bar-item w3-button w3-padding-16 w3-hide-large" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </header>


  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        
        <h4></h4>
        <a href="My_Dashboard.html" class="btn"><font size = 6>Home </font></a>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4></h4>
        <a href="records.html" class="btn"><font size = 6>Records</font></a>

      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4></h4>
        <a href="socialmediapartner.html" class="btn"><font size = 6>Our Partners</font></a>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3> </h3>
        </div>
        <div class="w3-clear"></div>
        <h4></h4>
        <a href="posts.html" class="btn"><font size = 6>Posts</font></a>
      </div>
    </div>
  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
        <h5> </h5>

      </div>

  <hr>

  <hr>

  <!-- Footer -->
  <h5><b><i class="calc"></i>Calorie Calculator</b></h5>
</header>

    <html>
  <head>

      <meta charset="windows-1252">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <script>

          function calc()
          {
              var n1 = parseFloat(document.getElementById('n1').value);
              var n2 = parseFloat(document.getElementById('n2').value);
              var ttl = parseFloat(document.getElementById('ttl').value);

              var oper = document.getElementById('operators').value;

              if(oper === '-')
              {
                  document.getElementById('result').value = ttl-n1;
              }

              var oper = document.getElementById('operators1').value;

              if(oper === '+')
              {
                  document.getElementById('result').value = ttl-n1+n2;
              }

          }

      </script>

  </head>
  <body>

      <input type="text" id="ttl" /> <p>Input calorie goal.</p>


      <select id="operators">
          <option value="-">-</option>
      </select>

      <input type="text" id="n1"/> <p>Input current total calorie intake.</p>

      <select id="operators1">
          <option value="+">+</option>
      </select>

      <input type="text" id="n2"/> <p>Input current calories burned.</p>


      <button onclick="calc();">=</button>
      <input type="text" id="result"/>
  <p>Total calories leftover.</p>

  </body>
</html>


  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>