<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" href="../static/posts.css">
</head>
<body>
    <a class="button" href="My_Dashboard.html">
    <div class="back">Go Back</div>
	</a>

<div class="cont">
    <div class="col-md-10">
        <div class="profile-display">
            <div class="profile-cover"></div>
            <div class="author-info">
		        <div class="newtrition.png"> <img src="../static/newtrition.png" alt=" " width="200" height="200">
		        </div>
		        <div class="author-meta">
			        <h2 class="author-username">
                        Posts for {{user}}
			        </h2>
		        </div>
	        </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="column">
    <img src="../static/fb.jpg" class="thumb-img" alt="work-thumbnail" width="500" height="280">
      <h4 class="text-center">Follow us on FaceBook!</h4>
            <div class="ga-border"></div>
            <p class="text-muted text-center"><small>NewTrition giving updated on our company!</small></p>
  </div>
  <div class="column">
    <img src="../static/twitter.png" class="thumb-img" alt="work-thumbnail" width="500" height="280">
      <h4 class="text-center">Follow us on Twitter!</h4>
            <div class="ga-border"></div>
            <p class="text-muted text-center"><small>NewTrition giving you great advice for your day!</small></p>
  </div>
  <div class="column">
    <img src="../static/insta.png" class="thumb-img" alt="work-thumbnail" width="500" height="800">
      <h4 class="text-center">Follow is on Instagram!</h4>
            <div class="ga-border"></div>
            <p class="text-muted text-center"><small>NewTrition staying trendy with our followers!</small></p>
  </div>
</div>

</body>
</html>