<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/setting.css">
</head>
<body>
<a class="button" href="My_Dashboard.html">
    <div class="back">Go Back</div>
	</a>

     <div class="cont">
    <div class="col-md-10">
        <div class="profile-display">
            <div class="profile-cover"></div>
            <div class="author-info">
		        <div class="newtrition.png"> <img src="../static/newtrition.png" alt=" " width="200" height="200">
		        </div>
		        <div class="author-meta">
			        <h2 class="author-username">
                        {{user}}'s Profile
			        </h2>
		        </div>
	        </div>
        </div>
    </div>
</div>

<h2 class="h3 mb-4 page-title">Your Progress</h2>

                <div class="form-group">
                    <label for="txt_1">Current Weight</label>
                    <input type="text" id="txt_1" onkeyup='saveValue(this);' />
                </div>

                <div class="form-group">
                    <label for="txt_2">Current Height</label>
                    <input type="text" id="txt_2" onkeyup='saveValue(this);'  />
                </div>

<script type="text/javascript">
        document.getElementById("txt_1").value = getSavedValue("txt_1");    // set the value to this input
        document.getElementById("txt_2").value = getSavedValue("txt_2");   // set the value to this input

        //Save the value function - save it to localStorage as (ID, VALUE)
        function saveValue(e){
            var id = e.id;  // get the sender's id to save it .
            var val = e.value; // get the value.
            localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override .
        }

        //get the saved value function - return the value of "v" from localStorage.
        function getSavedValue  (v){
            if (!localStorage.getItem(v)) {
                return "";// You can change this to your defualt value.
            }
            return localStorage.getItem(v);
        }
</script>

<h2 class="h3 mb-4 page-title">Your Goal</h2>

                <div class="form-group">
                    <label for="wgoal">Weight Goal</label>
                    <input type="wgoal" class="form-control" id="wgoal" placeholder="wgoal" />
                </div>
<script>
function test()
            {
                var wgoal = parseFloat(document.getElementById('wgoal').value);
                var wgoal = parseFloat(document.getElementById('wgoal').value);
                var wgoal = parseFloat(document.getElementById('wgoal').value);

                document.getElementById('wgoal').value = wgoal;
                }
</script>
    <button onclick="test();">Submit</button>

</body>
</html>